---
const currentYear = new Date().getFullYear();
---

<footer>
  <p>Made by Jacky Zhao using Quartz, © 2022</p>

  <ul class="flex justify-center gap-3">
    <li>Home</li>
    <li>Twitter</li>
    <li>Github</li>
  </ul>
</footer>

<style>
  footer {
    text-align: center;
    padding-top: 8rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
  }

  .byline {
    display: block;
    margin-top: 1rem;
    color: var(--t-subdue);
    font-size: var(--f-d2);
    text-transform: uppercase;
  }
</style>
