---
import Graph from '../components/Graph.svelte';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <h1>Hi, this is my personal page</h1>
  <p>
    Checkout my garden for more info! <a href="/garden" class="text-red-300"
      >Garden</a>
  </p>
</MainLayout>
