---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Graph from '../components/Graph.svelte';
// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob('./project/**/*.md');
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <MainHead
      title="Jeanine White: Personal Site"
      description="Jeanine White: Developer, Speaker, and Writer..."
    />
  </head>
  <body>
    <Nav />
    <Graph client:visible height={500} width={500} />
    <header class="hero"></header>
    <main class="wrapper"></main>
    <Footer />
  </body>
</html>
