---
import Graph from '../components/Graph.svelte';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <h1>Hi</h1>
  <Graph client:visible height={250} width={350} />
</MainLayout>
