---
import Graph from '../components/Graph.svelte';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <h2>Title</h2>
  <p>last updated</p>
  <div class="flex">
    <p>#tag</p>
  </div>
  <section class="my-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta magni
    reiciendis eveniet laboriosam odio facilis eum quas necessitatibus totam
    nihil praesentium, veniam molestiae illo corporis consectetur eaque? Rem,
    reiciendis ducimus? MDX
    <h2>TODO:</h2>
    <ul>
      <li>Refactor</li>
      <li>Config file</li>
      <li>Obsidian Integration</li>
      <li>Template system</li>
      <li>Grapth Improvement</li>
    </ul>
  </section>
  <Graph client:visible height={250} width={350} />
</MainLayout>
