<style>
  nav {
    display: flex;
    justify-content: space-between;
  }
</style>
<nav class="bg-red-900">
  <h1>Obsidian-Astro</h1>
  <ul>
    <input type="text" placeholder="Search" />
  </ul>
</nav>
